[submodule "code1Submodule"]
	path = code1Submodule
	url = https://github.com/suhaskumbhaar/code1.git
[submodule "code2Submodule"]
	path = code2Submodule
	url = https://github.com/suhaskumbhaar/code2.git
